
// main-colors
$secondary-white: #f6f6f6;
$yellow: #f0ea6e;
$dark: #303131;
$white: #ffffff;

// first theme
$mint: #4dd5bc;
$dark-mint: #286f62;
$mint-button: #86e9d6;

// second theme
$dark-blue: #294F60;
$pink-border: #e71c4f;
$pink: #ed1b76;
$black: #0a2835;

//player colors
$orange: #ea6900;
$blue: #2298db;
