@use "../abstract/variables" as abs;
@use "../abstract/mixin" as mix;
@use "../abstract/functions" as fn;

[data-theme="code-vibes"].game {
  --card-width: 7.5rem;
  background-color: abs.$dark;
  color: abs.$white;

  .game-header {
    background-color: abs.$mint-header;

    &__counter {
      background-color: rgba(abs.$mint-button, 0.14);

      & dl {
        gap: fn.px-to-rem(8px);
      }

      & dt::before {
        width: fn.px-to-rem(20px);
        height: fn.px-to-rem(16px);
        @include mix.icon-mask("/assets/img/player-arrow.svg");
      }

      &--blue {
        color: abs.$code-blue;
      }

      &--orange {
        color: abs.$code-orange;
      }
    }

    &__current-player {
      gap: fn.px-to-rem(12px);

      h2 {
        font-weight: 400;
      }
    }

    &__current-player-icon {
      width: fn.px-to-rem(20px);
      height: fn.px-to-rem(16px);
      background-color: abs.$code-orange;
      @include mix.icon-mask("/assets/img/player-arrow.svg");
    }

    &__exit {
      background-color: rgba(abs.$mint-button, 0.14);
      border: 1px solid abs.$mint;
      color: abs.$white;
      font-size: fn.px-to-rem(20px);

      &:hover {
        background-color: rgba(abs.$mint-button, 0.26);
        box-shadow: inset 0 0 0 1px abs.$mint;
      }
    }

    &__exit-icon {
      width: fn.px-to-rem(26px);
      height: auto;
    }
  }

  .game-card {
    aspect-ratio: 1 / 1;

    &__face--back {
      background: linear-gradient(212deg, abs.$mint 19%, abs.$dark-mint);

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: url("/assets/img/code-theme/pc _rot.svg") center / 60% no-repeat;
      }
    }
  }

  .game-dialog {
    background-color: abs.$dark;
    border: 1px solid abs.$mint;
    color: abs.$white;

    &__btn {
      background-color: rgba(abs.$mint-button, 0.14);
      border: 1px solid abs.$mint;
      color: abs.$white;
      font-size: fn.px-to-rem(20px);

      &:hover {
        background-color: rgba(abs.$mint-button, 0.26);
        box-shadow: inset 0 0 0 1px abs.$mint;
      }

      &--confirm {
        background-color: abs.$mint;
        color: abs.$dark;

        &:hover {
          background-color: abs.$mint;
        }
      }
    }
  }

  &[data-player="blue"] .game-header__current-player-icon {
    background-color: abs.$code-blue;
  }
}
